@import "../node_modules/react-toggle-switch/dist/css/switch.min.css";
// @import '../node_modules/react-datepicker/dist/react-datepicker.css';
// @import '../node_modules/react-date-picker/dist/entry.nostyle';
// Landng Page css
.footer {
    background-color: #172b3f !important;
    color: white;
    text-align: center;
    padding : 1%;
    }

    // #landing-page-id {
    //     -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    //     filter: blur(5px);
    // }

    .not-active a{
      pointer-events: none;
      cursor: default;
      text-decoration: none;
      color: black;
    }

    .active a{
      pointer-events: all;
      cursor: pointer;
      text-decoration: default;

    }
    .header {
        background: #172b3f !important;
        color: #fff;
        height: 30%;
        padding-left : 1%;
        padding-top:1%;
        padding-bottom:1%;
        text-align:left;

    }
    .login-page {
      background-color: #f4f5f2; //#f7f7f7, e7f0f3
      padding:7%;
      height : 99.6vh
    }

    .body {
        background: #e0e0e0 !important;
        height : 86.8vh;
        padding-top: 5%;
    }
    .nospace {
        margin : 0px !important;
        padding: 0px !important;
    }
    .landing-row {
      margin-left: 0;
      margin-right: 0;
    }

    .addCandidateButtonClassEnabled {
      display:auto;
    }
    .addCandidateButtonClassDisabled {
      display:none;
    }

    .candidate-info-list-container {
      min-height: 82.8vh;
      padding-top: 3%;
    }

    .candidate-info-list-container-fluid {
      background-color: #f4f5f2;
    }

    .cursor-pointer {
        cursor:pointer;
    }

.App {
    max-width: 960px;
    margin: auto;
    // background-color: lightblue;
    padding: 20px;
    .App-header {
        display:flex;
        align-items: center;
        justify-content: space-between;
    }
}

button.close {
  font-size: 35px;
}

.search-container {
    margin: 40px 0;
    display:flex;
    label {
        flex-basis: 200px;
        display: flex;
        align-items: center;
    }
    .form-control {
        height: 46px;
    }
}

.candidate-hired {
  display: -webkit-inline-box;
  margin-top: 2%;
  padding: 2%;
  // border: 1px solid #9faacc;
  border-radius: 10px;
  // background: cornsilk;
}
.candidate-active-inactive-toggle {
  background-color: #ccc2c2 !important;
}

.hiring-status {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  zoom: 1;
  width: 33%;
  text-align: center;
}


.checkbox {
    margin-top: 0px;
    height: 1.7em;
    width: 6%;
}
input[type="checkbox"] {
    margin-top: 0px;
}
 input[type="checkbox"]:checked {
    margin-top: 0px;
    color: blue;
}
.panel-heading {
  font-size: 16px;
}
.alert-font {
  font-size: 15px;
}

.hiring-status span {
  margin-left: 6px;
  font-size: 16px;
}
.offered-class {
  margin-top: 2%;
}

.candidate-hired span {
  margin:2px;
  padding-right:25px;
  margin-left: 6px;
}
.checkbox {
  padding-left: 20px;
}


body,div {
  font-family: 'Crimson Text', cursive;
}

//
.table .thead-dark th {
    color: #fff;
    background-color: #7a8086;
    border-color: #32383e;
}

.endInterview-class{
  float:right;
  margin-bottom: 2%;
}

.modal-header{
  background: cornsilk;
}

.breadcrumb {
      background-color: cornsilk;
}


// Login CSS

#tooltip {
  font-family: "Gill Sans", sans-serif;
  font-size: 14px;
}

.signin-form {
    width: 540px;
    margin: auto;
}
.sub-title {
    text-align: center;
    text-transform: uppercase;
    margin-left: 73px;
}
.title {
    text-transform: uppercase;
    text-align: center;
    padding: 20px;

    h1 {
        position: relative;
    }
    .logo {
        position: absolute;
        left: 30px;
        top: 15px;
        width: 200px;
    }
}
.log-in {
    position: absolute;
    right: 20px;
    top: 40px;
    .username {
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 10px;
        color:#fff;
    }
}
.login-btn {
    margin-right: 10px;
}
.sign-in {
    margin-bottom: 10px;
}
.btn-wrapper button{
    text-transform: uppercase;
}
.pwd-message {
    display: -webkit-inline-box;
}
.pwd-icon {
  position: absolute;
  right: 7px;
  top: 7px;
  z-index: 4;
}
.position {
  position: relative;
}

.profile-img {
  width: 96px;
  height: 96px;
  margin: 0 200px 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;

}

.profile-img-block {
  margin-left: 10%;
}
.center-block {
    display: block;
    margin-right: auto;
    text-align: center;
}
.login-title {
  padding-bottom:4%;
  margin-left: 65px;
}
//Candidate form css

.form-container {
    // background-color: lightblue;
    padding: 20px 0;

    .form-horizontal .background .form-group .control-label {
          text-align: left;
          padding-left: 50px;
          margin-top: -7px;
    }

    label {
        padding-top: 7px;
        padding-left: 11px;
    }
    p {
        font-weight: bold;
    }
    .input-group div{
        position: relative;
        display: table;
        border-collapse: separate;
        width: 100%;
    }
    .edit-btn {
        margin-left: 28px;
        padding: 3px 8px;
    }

    input[type=file] {
      width: 100%;
      border: 1px solid#ccc;
      border-radius: 4px;
      display: inline-block;
      padding: 6px 12px;
      cursor: pointer;
      box-shadow: none;
  }
    // .form-group {
    //   .not-mandatory:after {
    //     content: "";
    //     }
    //
    //   .control-label:after {
    //     content: "*";
    //     color: red;
    //     padding: 5px;
    //   }
    // }

}

.inputGroupContainer {
  .input-group {
    width: 100%;
  }
}

.inputGroupContainer span{
  margin-left: 5px;
}


.margin-resume {
  margin-top: 5px;
}

.submit{
  text-align: -webkit-center
}



// IA form details
.technical-details>tbody>tr>td{
     border-top: none;
     padding: 0;
     padding-right: 5px;
   }

   .technical-details>tbody {
     display: inline-flex;
   }

   .technical-details>tbody>tr {
     margin-right:82px;
   }

    .ia-date {
      margin-top: -5px;
    }

.details-width {
    display: inline-block;
}

.padding {
    padding-right: 130px;
}

.experience-score {
  margin-right:15.5px;
  width: 133px;
}

// IA form Expertise css

.details-label {
  margin-left: 10px;
}
.overallScore{
    margin-left: 15px;
}
.expertised-area {
  .control-label:after {
      content: "*";
      color: red;
      padding: 5px;
  }
}

.header-margin {
  margin-top: 15px;
}

// IA form Expertise
.popupover-hover {
  max-width:35%;
  min-height:35%;
}

.help-icon {
  color: #286090;
  margin: 5px;
}

// IA form Summary

.interview-comments {
    padding-top: 5px;
}

.experience-width {
    width: 324px;
    margin-left: 0px !important;
}

.mandatory {
    content: "*";
    color: red;
    padding: 5px;
    font-size: 15px;
}

.interview-status-align{
  text-align: right;
}



//Manager form

.evaluation-criteria {
  text-align: center;
}
.remarks-width {
  width: 60%;
}

// HR form-group
.hr-details{
  display: -webkit-inline-box;
  width: 50%;
}

.hr-details-sub-title{
  margin-top: 10px;
}

// candidate assessment form

.candidate-assessment-label {
    font-size: 25px;
}

.ca-resume {
  font-size: 16px;
}

.home-page-resume {
    margin-top: -24px;
    margin-bottom: 19px;
    font-size: 16px;
    float: right;
}
.interview-round {
  text-transform: uppercase;
}

.interview-selection{
  width: 250px;
  margin: 5px;
  display: inline-block;
}

//Register

.sign-up {
    margin-bottom: 10px;
    text-transform: uppercase;
}
