@import "../node_modules/react-toggle-switch/dist/css/switch.min.css";
// @import '../node_modules/react-datepicker/dist/react-datepicker.css';
// @import '../node_modules/react-date-picker/dist/entry.nostyle';
// Landng Page css
.footer {
    background-color: #172b3f !important;
    color: white;
    text-align: center;
    padding : 1%;
    }

    // #landing-page-id {
    //     -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    //     filter: blur(5px);
    // }

    .header {
        background: #172b3f !important;
        color: #fff;
        height: 30%;
        padding-left : 1%;
        padding-top:1%;
        padding-bottom:1%;
        text-align:left;

    }
    .login-page {
      background-color: #faf1ec;
      padding:7%;
      height : 99.6vh
    }

    .body {
        background: #172b3f !important;
        height : 87.6vh;
        padding-top: 5%;
    }
    .nospace {
        margin : 0px !important;
        padding: 0px !important;
    }
    .landing-row {
      margin-left: 0;
      margin-right: 0;
    }

    .candidate-info-list-container {
      min-height: 83.9vh;
      padding-top: 3%;
    }

    .candidate-info-list-container-fluid {
      background-color: #faf1ec;
    }

.App {
    max-width: 960px;
    margin: auto;
    // background-color: lightblue;
    padding: 20px;
    .App-header {
        display:flex;
        align-items: center;
        justify-content: space-between;
    }
}

button.close {
  font-size: 35px;
}

.search-container {
    margin: 40px 0;
    display:flex;
    label {
        flex-basis: 200px;
        display: flex;
        align-items: center;
    }
    .form-control {
        height: 46px;
    }
}

.candidate-hired {
  display: -webkit-inline-box;
  margin-top: 2%;
  padding: 2%;
  border: 1px solid #9faacc;
  border-radius: 10px;
  background: cornsilk;
}

.hiring-status {
  display: -webkit-inline-box;
}
.hiring-status span {
  margin-left: 6px;
}
.offered-class {
  margin-top: 2%;
}

.candidate-hired span {
  margin:2px;
  padding-right:25px;
  margin-left: 6px;
}

.checkbox {
  padding-left: 20px;
}
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
   }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
     }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555;
     }
  .checkbox input[type="checkbox"] {
    opacity: 0;
   }
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
    }
    .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c";
    }
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65;
    }
      .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed;
       }
  .checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca;
}
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
 }
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
 }
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
 }
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
 }
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff;
 }


body,div {
  font-family: 'Crimson Text', cursive;
}

//
.table .thead-dark th {
    color: #fff;
    background-color: #7a8086;
    border-color: #32383e;
}

.endInterview-class{
  float:right;
}

.modal-header{
  background: cornsilk;
}

// Login CSS

.signin-form {
    width: 540px;
    margin: auto;
}
.sub-title {
    text-align: center;
    text-transform: uppercase;
    margin-left: 73px;
}
.title {
    text-transform: uppercase;
    text-align: center;
    padding: 20px;

    h1 {
        position: relative;
    }
    .logo {
        position: absolute;
        left: 30px;
        top: 15px;
        width: 200px;
    }
}
.log-in {
    position: absolute;
    right: 20px;
    top: 40px;
    .username {
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 10px;
        color:#fff;
    }
}
.login-btn {
    margin-right: 10px;
}
.sign-in {
    margin-bottom: 10px;
}
.btn-wrapper button{
    text-transform: uppercase;
}
.pwd-message {
    display: -webkit-inline-box;
}
.pwd-icon {
  position: absolute;
  right: 7px;
  top: 7px;
  z-index: 4;
}
.position {
  position: relative;
}

.profile-img {
  width: 96px;
  height: 96px;
  margin: 0 200px 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;

}

.profile-img-block {
  margin-left: 10%;
}
.center-block {
    display: block;
    margin-right: auto;
    text-align: center;
}
.login-title {
  padding-bottom:4%;
  margin-left: 65px;
}
//Candidate form css

.form-container {
    // background-color: lightblue;
    padding: 20px 0;

    .form-horizontal .background .form-group .control-label {
          text-align: left;
          padding-left: 50px;
          margin-top: -7px;
    }

    label {
        padding-top: 7px;
        padding-left: 11px;
    }
    p {
        font-weight: bold;
    }
    .input-group div{
        position: relative;
        display: table;
        border-collapse: separate;
        width: 100%;
    }
    .edit-btn {
        margin-left: 28px;
        padding: 3px 8px;
    }

    input[type=file] {
      width: 100%;
      border: 1px solid#ccc;
      border-radius: 4px;
      display: inline-block;
      padding: 6px 12px;
      cursor: pointer;
      box-shadow: none;
  }
    // .form-group {
    //   .not-mandatory:after {
    //     content: "";
    //     }
    //
    //   .control-label:after {
    //     content: "*";
    //     color: red;
    //     padding: 5px;
    //   }
    // }

}

.inputGroupContainer {
  .input-group {
    width: 100%;
  }
}

.inputGroupContainer span{
  margin-left: 5px;
}


.margin-resume {
  margin-top: 5px;
}

.submit{
  text-align: -webkit-center
}



// IA form details

.details-width {
    display: inline-block;
}

.padding {
    padding-right: 130px;
}

// IA form Expertise css

.details-label {
  margin-left: 10px;
}
.overallScore{
    margin-left: 15px;
}
.expertised-area {
  .control-label:after {
      content: "*";
      color: red;
      padding: 5px;
  }
}

.header-margin {
  margin-top: 15px;
}

// IA form Expertise
.popupover-hover {
  max-width:35%;
  min-height:35%;
}

.help-icon {
  color: #286090;
  margin: 5px;
}

// IA form Summary

.interview-comments {
    padding-top: 5px;
}

.experience-width {
    width: 324px;
    margin-left: 0px !important;
}

.mandatory {
    content: "*";
    color: red;
    padding: 5px;
    font-size: 15px;
}

.interview-status-align{
  text-align: right;
}



//Manager form

.evaluation-criteria {
  text-align: center;
}
.remarks-width {
  width: 60%;
}

// HR form-group
.hr-details{
  display: -webkit-inline-box;
  width: 50%;
}

.hr-details-sub-title{
  margin-top: 10px;
}

// candidate assessment form

.candidate-assessment-label {
    font-size: 25px;
}

.ca-resume {
  font-size: 16px;
}

.home-page-resume {
    margin-top: -24px;
    margin-bottom: 19px;
    font-size: 16px;
    float: right;
}
.interview-round {
  text-transform: uppercase;
}

.interview-selection{
  width: 250px;
  margin: 5px;
  display: inline-block;
}

//Register

.sign-up {
    margin-bottom: 10px;
    text-transform: uppercase;
}
