.App {
    max-width: 960px;
    margin: auto;
    // background-color: lightblue;
    padding: 20px;
    .App-header {
        display:flex;
        align-items: center;
        justify-content: space-between;
    }
}

button.close {
  font-size: 35px;
}

.search-container {
    margin: 40px 0;
    display:flex;
    label {
        flex-basis: 200px;
        display: flex;
        align-items: center;
    }
    .form-control {
        height: 46px;
    }
}

// Login CSS

.signin-form {
    width: 540px;
    margin: auto;
}
.sub-title {
    text-align: center;
    text-transform: uppercase;
    margin-left: 73px;
}
.title {
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
}
.log-in {
    position: absolute;
    right: 20px;
    top: 40px;
    .username {
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 10px;
    }
}
.login-btn {
    margin-right: 10px;
}
.sign-in {
    margin-bottom: 10px;
}
.btn-wrapper button{
    text-transform: uppercase;
}
.pwd-message {
    display: -webkit-inline-box;
}
.pwd-icon {
  position: absolute;
  right: 7px;
  top: 7px;
  z-index: 2;
}
.position {
  position: relative;
}

.profile-img {
  width: 96px;
  height: 96px;
  margin: 0 200px 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: 70px;
}
//Candidate form css

.form-container {
    // background-color: lightblue;
    padding: 20px 0;

    .form-horizontal .background .form-group .control-label {
          text-align: left;
          padding-left: 50px;
    }

    label {
        padding-top: 7px;
        padding-left: 11px;
    }
    p {
        font-weight: bold;
    }
    .input-group div{
        position: relative;
        display: table;
        border-collapse: separate;
        width: 100%;
    }
    .edit-btn {
        margin-left: 28px;
        padding: 3px 8px;
    }
    // .form-group {
    //   .not-mandatory:after {
    //     content: "";
    //     }
    //
    //   .control-label:after {
    //     content: "*";
    //     color: red;
    //     padding: 5px;
    //   }
    // }

}

.inputGroupContainer {
  .input-group {
    width: 100%;
  }
}

.margin-resume {
  margin-top: 5px;
}

.submit{
  text-align: -webkit-center
}



// IA form details

.details-width {
    display: inline-block;
}

.padding {
    padding-right: 130px;
}

// IA form Expertise css

.details-label {
  margin-left: 10px;
}
.overallScore{
    margin-left: 15px;
}
.expertised-area {
  .control-label:after {
      content: "*";
      color: red;
      padding: 5px;
  }
}

.header-margin {
margin-top: 15px;
}


// IA form Summary

.interview-comments {
    padding-top: 5px;
}

.experience-width {
    width: 372px;
    margin-left: 0px !important;
}

.mandatory {
    content: "*";
    color: red;
    padding: 5px;
    font-size: 15px;
}





//Manager form

.evaluation-criteria {
  text-align: center;
}
.remarks-width {
  width: 60%;
}

// candidate assessment form

.candidate-assessment-label {
    font-size: 25px;
}

.ca-resume {
  font-size: 16px;
  float: right;
}

.interview-round {
  text-transform: uppercase;
}

.interview-selection{
  width: 250px;
  margin: 5px;
  display: inline-block;
}

//Register

.sign-up {
    margin-bottom: 10px;
    text-transform: uppercase;
}
