.candidate-colum {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    // background-color: #e8faff;

    label a {
        text-decoration: none;
    }

    h1 {
        margin: 0 0 20px 0;
    }

    .status-class {
        width: 150px;
         float: right;
         margin-top: -55px;
    }

    .candidate-ia-form {
        padding-bottom: 15px;
    }

    .list-modify-btn {
        margin-right: 5px;
    }
    .btn-evaluate {
        margin: 20px 0 0 0;
    }
    // .btn-view, .btn-delete {
    //     margin-right: 10px;
    //     border-radius: 5px;
    // }
}

.evaluation-wrapper {
    display: flex;
    margin: 20px 0;
    .file {
        display: flex;
        align-items: center;
        margin-left: 10px;
    }
}

.evaluation-status {
  float: right;
}

.date-status {
  padding-top: 5px;
  padding-left : 40px;
  // color: grey;
}


.card-wrapper {
  float: none;
  display: inline-block;
  margin-bottom: 30px;
  vertical-align: top;
}

.event-card {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    padding-top: 0;
    min-height: 240px;
    box-shadow: 0 1px 3px rgba(158,158,158,0.12), 0 1px 2px rgba(158,158,158,0.24);
    position: relative;
}

.event-card-title-block {
  padding: 25px 25px 0px 0px;
    // border-bottom: 1px solid #856a91;
    // padding-bottom: 10px;
}

.event-card-blurb {
    padding-top: 10px;
    padding-bottom: 40px;
}

.event-card-btn-group {
    position: absolute;
    bottom: 15px;
}

.right {
      right: 15px;
}
